.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color:#6C3483;

    border-radius: 10px;

    margin: 30px;

}
.logoMarca {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    width: 50px;
    height: 75px;

    background-image: url('../Imagens/logo 50x75.png');
    background-repeat: no-repeat;

    margin: 10px;

    cursor:pointer;

    border: 2px solid black;
}

.logo:hover{
    opacity: .7;
}

.logo:active {
    transform: scale(.8);
}

.empresa {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    font-weight: 500;
    color:#D2B4DE;

    margin-left: 20px;

    user-select: none;

    cursor:pointer;

    border: 2px solid black;
}

.empresa:hover {
    color: #F4ECF7;
}

.empresa:active {
    transform: scale(.8);
}

.opLista {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    list-style: none;

    border: 2px solid red;
}
.op {
    margin: 10px;
    
}
.lupa {
    width: 50px;
    height: 50px;

    background-image: url('../Imagens/lupa 50x50.png');

    cursor:pointer;

    margin: 10px;

    border: 2px solid black;
}

.lupa:hover {
    opacity: .7;
}

.lupa:active {
    transform: scale(.9);
}

#txtBusca {
    width: 150px;

    background-color: #BB8FCE;

    font-family: 'Langar', cursive;
    font-size: 1.2rem;
    font-weight: 200;
    color:#F5EEF8;

    border: 3px solid #4A235A;
    border-radius: 10px 0 10px 0;

    outline-style: none;

    display: none;

    border: 2px solid black;
}

#txtBusca:focus {
    background-color: #A569BD;
}

.busca {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0;

    border: 2px solid blue;
}

#check {
    display: none;
}

#check:checked + #txtBusca{
    display: block;
}

.pag{
    display: flex;
    flex-direction: row;
}

.cadastro {
    font-family: 'Langar', cursive;
    font-size: 1.2rem;
    font-weight: 200;
    color:#D2B4DE;

    margin: 5px;

    user-select: none;

    cursor:pointer;
}

.cadastro:hover {
    color: #F4ECF7;
}

.cadastro:active {
    transform: scale(.8);
}

@media (max-width: 850px){
    .empresa{
        font-size: 1.7rem;
    }
    #txtBusca, .cadastro{
        font-size: .8rem;
    }
    #txtBusca{
        width: 100px;
    }
    .opLista {
        padding: 0;
        margin: 0;
    }
}
@media (max-width: 700px){
    .empresa{
        display: none;
    }
}

@media (max-width: 500px){
    .logo{
        transform: scale(.8);
        margin: 0;
    }
    .logo:hover{
        opacity: .6;
    }
    .logo:active {
        transform: scale(.7);
    }
    .lupa{
        transform: scale(.7);
    }
    .lupa:hover {
        opacity: .5;
    }
    
    .lupa:active {
        transform: scale(.6);
    }
    #txtBusca, .cadastro{
        font-size: .8rem;
    }
    #txtBusca{
        width: 75px;
    }
    .opLista, .lupa {
        padding: 0;
        margin: 0;
    }
    .cadastro {
        margin:10px 0 10px 0;
    }
    .pag{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 350px){
    .busca {
        flex-direction: column;
    }
}