footer, a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    color:#F5EEF8;
    text-align: center;

    margin-bottom: 30px;
}

@media (max-width: 850px){
    footer {
        font-size: 1.7rem;
    }
}
@media (max-width: 700px){
    footer {
        font-size: 1.4rem;
    }
}
@media (max-width: 500px){
    footer {
        font-size: 1rem;
    }
}
@media (max-width: 350px){
    footer {
        font-size: .7rem;
    }
}

@media (max-width: 270px){
    footer {
        display: none;
    }
}